* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Inter', sans-serif;
color: #243e63;
}

html {
    scroll-behavior: smooth;
}

section{
    padding: 0 32px;
}

body{
    max-width: 100vw;
    overflow-x: hidden; 
}

nav {
    padding-top: 32px;
    display: flex;
}

.nav__logo {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding-bottom: 4px;
}

.nav__logo--img{
    height: 40px;
    width: 40px;
}
.nav__row{
display: flex;
justify-content: space-between;
}

.nav__container {
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto; 
}

.row{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.row__narrow {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.container {
    padding: 96px 0;
}

.nav__logo--title{
    font-weight: 900;
    font-size: 24px;
    margin-left: 12px;
    padding-bottom: 2px;
    letter-spacing: 0.6px;   
}

.nav__links{
    display: flex;
    align-items: center;
    padding-bottom: 2px;
}

.nav__link::after {
    content: ""
    position: absolute;
    left: 0;
    bottom: -6px;
    height: 2px;
    width: 100%;
    background: #6415ff;
    transition: all 300ms ease;
    opacity: 0;
}

a{
    display: inline;
    text-decoration: none;
}

img {
    width: 100%;
}

.nav__link{
    font-size: 14px;
    font-weight: 600;
    padding-top: 4px;
    letter-spacing: 0.35px;
    border-bottom: 2px solid transparent;
    position: relative;
    transition: all 300ms;
}

.nav__link{
    margin: 0 24px;
}

.nav__link--primary{
    margin: 0;
    padding: 10px 32px;
    margin-top: 2px;
    border-radius: 9999px;
    color: #fff;
    background-color: #6415ff;
    line-height: 1.5;
    border: none;
    width: auto;
    transition: all 300ms ease;
}

.container {
padding: 96px 0px;
font: #243e63

}

.row {
    font: 16px;
    color: #243e63
    

}
.header__description {
    display: flex;
    display: block;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    margin: 0 215px;
    padding: 10px 32px;

}

span {
    color: rgb(131, 3, 236);
}

