@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
nav {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    background-color: #cafdff;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    background-color: #eadcff;
    height: calc(100vh - 70px);
}

h1 {
    font-size: 72px;
}

.subheader {
    font-size: 36px;
    margin: 16px 0 24px 0;
}

button {
    background-color: #05c7cf;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 24px;
    cursor: pointer;
}

a {
    font-size: 24px;
    color: black;
    font-weight: bold;
}
.logo {
    width: 300px;
}
ul {
    display: flex;
    
}
li {
    list-style-type: none;
    padding-left: 16px
}


.row {
    width: 100%;
    max-width: 1300px;
    display: flex;
    justify-content: center ;
    align-items: center;
    margin: 0 auto;
}

#about, 
#discord, 
#contact, 
footer {
    padding: 48px 0;
    background-color: #f8ffdc;
}

#about {
    background-color: #f8ffdc;
}

h2 {
   font-size: 60px;
   text-align: center;
    margin-bottom: 24px;
}

.section__description {
    display: flex;
    justify-content: center ;
    align-items: center;
}

.about__image--wrapper {
    width: 40%;
    padding: 0 24px;
}

img {
    width: 100%; 
}

.section__description--wrapper {
    width: 60%;
    padding: 0 24px;
}

.section__description--paragraph {
    font-size: 20px;
    margin-bottom: 24px;
    line-height: 1.5;
}

#discord {
    padding: 48px 0;
    background-color: #cefeff;
}

#contact {
    background-color: #dce9ff;
    
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 24px;
}

input, textarea {
    padding: 6px 12px;
    margin-bottom: 24;
    font-size: 20px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: #aaf5ff;
    flex-direction: column;
}

.footer__logo {
    max-width: 480px;
    margin-bottom: 16px;
}

.footer__links {
    margin-bottom: 32px;
}

.footer__link {
    padding: 0 16px;
}


@media (max-width: 728px) {
    .row {
        flex-direction: column;
    }

    .home__description {
        margin-bottom: 24px;
        display: flex;
        flex-direction: column;
    }

    .home__description--button {
        align-self: center;
        max-width: 240px;
    }
    h1 {
     text-align:center;
     font-size: 60px;
    }

    .subheader {
        text-align: center;
        font-size: 28px;
    }

    ul {
        display: none;
    }

    .section__description {
        flex-direction: column;
    }

    .section__description--wrapper {
        width: 100%;
    }

    .about__image--wrapper {
        width: 100%;
    }

    #discord .section__description {
        flex-direction: column-reverse;
    }

footer {
    padding: 48px 24px;
}
    .footer__logo {
        max-width: 3600px;
    } 

    .footer__link {
      padding: 0 4px;
      font-size: 18px;
    }

    .footer__links {
        margin-bottom: 24px;
    }
}

