@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
nav {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    background-color: #cafdff;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    background-color: #eadcff;
    height: calc(100vh - 70px);
}

h1 {
    font-size: 72px;
}

.subheader {
    font-size: 36px;
    margin: 16px 0 24px 0;
}

button {
    background-color: #05c7cf;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 24px;
    cursor: pointer;
}

a {
    font-size: 24px;
    color: black;
    font-weight: bold;
}
.logo {
    width: 300px;
}
ul {
    display: flex;
    
}
li {
    list-style-type: none;
    padding-left: 16px
}


.row {
    width: 100%;
    max-width: 1300px;
    display: flex;
    justify-content: center ;
    align-items: center;
}

#about {
    padding: 48px 0;
    background-color: #f8ffdc;
}

h2 {
   font-size: 60px;
   text-align: center;
    margin-bottom: 24px;
}

.section__description {
    display: flex;
    justify-content: center ;
    align-items: center;
}

.about__image--wrapper {
    width: 40%;
    padding: 0 24px;
}

img {
    width: 100%; 
}

.section__description--wrapper {
    width: 60%;
    padding: 0 24px;
}

.section__description--paragraph {
    font-size: 20px;
    margin-bottom: 24px;
    line-height: 1.5;
}
